@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Satoshi Font Family */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Variable Font */
@font-face {
  font-family: "Satoshi Variable";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --bg: #000;
  --fg: #ffffff;
  --gray: #5d5d5d;
  --light-gray: #aaaaaa;
  --border-gray: #818181;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --color-gray: var(--gray);
  --color-light-gray: var(--light-gray);
  --color-border-gray: var(--border-gray);
  --font-inter: var(--font-inter);
  --font-satoshi: "Satoshi", sans-serif;
  --font-satoshi-variable: "Satoshi Variable", sans-serif;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

::-webkit-scrollbar {
  width: 4px;
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: #0a0a0a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e3e3e;
  border-radius: 10px;
}

*,
*::before,
*::after,
html,
body {
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* revealer */
.revealer {
  @apply fixed bg-neutral-950 top-0 left-0 w-screen h-svh;
  transform-origin: center top;
  pointer-events: none;
  z-index: 100;
}

/* crop-esquinas */
.bg-crop-esquinas {
  background-image:
    linear-gradient(135deg, var(--bg) 50%, transparent 50%),
    linear-gradient(315deg, var(--bg) 50%, transparent 50%);
  background-size: 8vw 8vw;
  background-position:
    top left,
    bottom right;
  background-repeat: no-repeat;
}

/* stack */
.grid-stack {
  @apply relative w-full h-[80%] flex flex-col;
  margin: 0 auto;
}

.mobile.grid-stack {
  @apply relative w-full min-h-max h-fit;
  margin: 0 auto;
}

.grid-row {
  @apply flex flex-1 w-full justify-between items-center h-full;
}

.grid-item {
  @apply flex flex-1 justify-center items-center flex-col h-full relative py-8;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.grid-item p {
  @apply relative z-2;
}

.highlight {
  @apply absolute top-0 left-0 bg-black;
  pointer-events: none;
  transition: all 0.25s ease;
}

.mobile.grid-stack .grid-row {
  @apply grid grid-cols-2 min-h-full;
}

.mobile.grid-stack .grid-item {
  @apply h-full col-span-2;
}

/*
  block reveal text
*/

.block-line-wrapper {
  position: relative;
  width: max-content;
  display: block;
}

.block-line {
  position: relative;
  display: block;
}

.block-revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
}

/*
  hero-img
*/

.hero-img {
  height: 500px;
}

/*

  Media queries

*/

@media (min-width: 460px) {
  .mobile.grid-stack .grid-item {
    @apply h-full col-span-1;
  }
}

@media (min-width: 1000px) {
  .grid-stack .first-row {
    flex: 2 1 0%;
  }

  .grid-stack .grid-row:not(.first-row) {
    flex: 1 1 0%;
  }
}

/* Media Queryy Height */
@media (min-height: 500px) {
  .hero-img {
    height: 600px;
  }
}

@media (min-height: 600px) {
  .hero-img {
    height: 700px;
  }
}

@media (min-height: 700px) {
  .hero-img {
    height: 820px;
  }
}

@media (min-height: 800px) {
  .hero-img {
    height: 900px;
  }
}

@media (min-height: 900px) {
  .hero-img {
    height: 1100px;
  }
}

@media (min-height: 1000px) {
  .hero-img {
    height: 1100px;
  }
}
